@import "bootstrap/bootstrap";

@import "header";

@import "footer";

@import "textes";

@import "button";


.wrapper {
    position: absolute;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    top:0;
}