/******************************
 * Breakpoint
 ******************************/
/***************
 * Desktop
 ***************/
$breakpoint-desktop-l: 1920px;
$breakpoint-desktop-m: 1440px;
$breakpoint-desktop-s: 1280px;
$breakpoint-tablet-l: 1024px;
$breakpoint-tablet-m: 767px;
$breakpoint-tablet-s: 600px;

/***************
 * Mobile
 ***************/
$breakpoint-mobile-l: 440px;
$breakpoint-mobile-m: 375px;
$breakpoint-mobile-s: 320px;

/******************************
 * Colors
 ******************************/
$color_black: #000000;
$color_white: #FFFFFF;
