html {
  font-family: "Montserrat", sans-serif;
  color: white;
}

.container {
  position: absolute;
  background-color: bisque;
  margin: 0;
  padding: 0;
  top: 0;
  min-width: 100%;
}

header {
  position: relative;
}

#menuprincipal {
  text-align: center;
}

#menuprincipal li {
  display: inline-block;
  list-style: none;
  margin: 0 30px;
}

h1 {
  text-align: center;
  font-size: 10px;
  color: #8feef5;
}

h2 {
  text-align: center;
}

.contain {
  display: block;
  position: relative;
  bottom: 0;
  padding: 0;
  top: 200px;
}
